
      <div class="col-lg-3 ds" style="min-height:900px">
         <!-- USERS ONLINE SECTION -->
<h3>MEMBRES DE L'ÉQUIPE</h3>
        <!-- First Member -->
        <div class="desc">
          <div class="thumb">
            <img class="img-circle" src="img/ui-divya.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
            <p><a href="#">DIVYA MANIAN</a><br/>
               <muted>B3</muted>
            </p>
          </div>
        </div>
        <!-- Second Member -->
        <div class="desc">
          <div class="thumb">
            <img class="img-circle" src="img/ui-sherman.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
            <p><a href="#">DJ SHERMAN</a><br/>
               <muted>B3</muted>
            </p>
          </div>
        </div>
        <!-- Third Member -->
        <div class="desc">
          <div class="thumb">
            <img class="img-circle" src="img/ui-danro.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
            <p><a href="#">DAN ROGERS</a><br/>
               <muted>B3</muted>
            </p>
          </div>
        </div>
        <!-- Fourth Member -->
        <div class="desc">
          <div class="thumb">
            <img class="img-circle" src="img/ui-zac.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
            <p><a href="#">Zac Sniders</a><br/>
               <muted>B3</muted>
            </p>
          </div>
        </div>
        <!-- Fifth Member -->
        <div class="desc">
          <div class="thumb">
            <img class="img-circle" src="img/ui-sam.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
            <p><a href="#">Marcel Newman</a><br/>
               <muted>B3</muted>
            </p>
          </div>
        </div>

    </div><!-- /col-lg-3 -->
</div>
