<aside>
    <div id="sidebar" class="nav-collapse " style="overflow: hidden; outline: none;" tabindex="5000">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        
              <p class="centered"><a href="/account"><img src="<%- user.avatar %>" class="img-circle" width="60"></a></p>
              <h5 class="centered"><%- user.surname %> <%- user.firstName %></h5>
                  
            <li class="mt">
                <a href="/">
                    <i class="fa fa-dashboard"></i>
                    <span>Accueil</span>
                </a>
            </li>

            <li class="sub-menu dcjq-parent-li">
                <a href="/projet" class="dcjq-parent">
                    <i class="fa fa-desktop"></i>
                    <span>Projets</span>
                <span class="dcjq-icon"></span></a>
               
            </li>

            <li class="sub-menu dcjq-parent-li">
                <a href="/account" class="dcjq-parent">
                    <i class="fa fa-cogs"></i>
                    <span>Mon compte</span>
                <span class="dcjq-icon"></span></a>
                
            </li>
          

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>